body {
  background-color: #c7f0f0;
}
.heading {
  border: 2px solid black;
  font-family: "Chivo", sans-serif;
  background-color: #4242b4;
  color: brown;
  padding: 10px;
  text-align: center;
  font-size: 40px;
  border-radius: 3px;
}

section {
  width: 85%;
}
.main {
  display: flex;
  flex-direction: row;
}
.FirstImg {
  margin-top: 20px;
  width: 90%;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Chivo", sans-serif;
  border: 2px solid blue;
  text-align: center;
  background-color: cadetblue;
  width: 30%;
  margin-top: 10px;
}
.first-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
}

.sidebar {
  font-family: "Chivo", sans-serif;
  width: 15%;
  background: hsl(253, 49%, 66%);
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 15px;
}
.imagesidebar {
  display: flex;
  width: 80%;
  top: 0px;
  padding: 18px;
  height: auto;
}

footer {
  display: flex;
  background-color: slategrey;
  position: relative;
  width: 100%;
  padding: 5px;
  justify-content: center;
  margin-bottom: 0px;
}

@media (min-width: 320px) and (max-width: 767px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10px;
  }
  .first-row {
    display: flex;
    padding: 10px;
    flex-direction: column;
    margin-bottom: -20px;
  }

  .sidebar {
    font-family: "Chivo", sans-serif;
    width: 100%;
    background: hsl(253, 49%, 66%);
    margin-top: 5vh;
  }

  .imagesidebar {
    width: 80%;
    height: 40vh;
    margin: 0 auto;
  }

  footer {
    background-color: slategrey;
    width: 93vw;
    margin-right: 10%;
  }
}
@media (min-width: 768px) and (max-width: 1224px) {
  .main {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35vw;
    margin-top: 10px;
  }

  .first-row {
    display: grid;
    grid-template-columns: 300px 300px;
  }

  .sidebar {
    font-family: "Chivo", sans-serif;
    width: 100%;
    background: hsl(253, 49%, 66%);
    margin-top: 5vh;
  }

  .imagesidebar {
    width: 40%;
    height: 30vh;
    margin: 0 auto;
  }

  footer {
    background-color: slategrey;
    width: 96vw;
    margin-right: 10%;
  }
}
